<!doctype html>
<html>
  <head>
    <title>My Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main class="container">
      <article
        style="
          padding-bottom: 16px;
          display: flex;
          gap: 80px;
          align-items: center;
          justify-content: space-between;
        "
      >
        <h1>Matthew's Profile</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
          nam ipsa quisquam blanditiis eligendi esse iste odio possimus
          obcaecati facere.
        </p>
      </article>
    </main>
  </body>
</html>
