<!doctype html>
<html>
  <head>
    <title>Unauthorized</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="container">
    <nav>
      <ul>
        <li><strong>UNAUTHORIZED</strong></li>
      </ul>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" role="button">Login</a>
        </li>
      </ul>
    </nav>
    <main>
      <article>
        <p style="text-align: center">
          Please create an account or login to view this page.
        </p>
      </article>
    </main>
  </body>
</html>
