<!doctype html>
<html>
  <head>
    <title>Baby Guess</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="container">
    <nav>
      <ul>
        <li><strong>Baby Guess 🐣</strong></li>
      </ul>
      <!-- <ul>
        <li><a href="#">Groups</a></li>
        <li><a href="#" role="button">Login</a></li>
      </ul> -->
    </nav>
    <main class="container">
      <form
        hx-post="/guess"
        hx-target="#guess-table"
        _="on htmx:afterRequest reset() me"
      >
        <div class="grid">
          <label for="name">
            Name
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              required
            />
          </label>

          <label for="weight">
            Weight
            <input
              type="number"
              id="weight"
              name="weight"
              placeholder="Weight (lbs)"
              step="0.01"
              required
            />
          </label>
        </div>

        <div class="grid">
          <label for="length">
            Length
            <input
              type="number"
              id="length"
              name="length"
              placeholder="Length (cm)"
              step="0.01"
              required
            />
          </label>

          <div>
            <label for="bald">
              Born with hair?
              <select id="bald" name="bald" required>
                <option value="false">Hair</option>
                <option value="true">Bald</option>
              </select>
            </label>
          </div>
        </div>

        <!-- Button -->
        <div class="container" style="width: 66%">
          <button type="submit" style="justify-content: center; display: flex">
            Add Guess
          </button>
        </div>
      </form>
      <h2>Guesses</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Weight (lbs)</th>
            <th>Length (inches)</th>
            <th>Bald</th>
            <th></th>
          </tr>
        </thead>
        <tbody
          id="guess-table"
          hx-get="/guess/table"
          hx-trigger="load"
          hx-swap="innerHTML"
        ></tbody>
      </table>
    </main>
  </body>
</html>
